@media only screen and (max-width: 1000px) {

    .contact_input::placeholder{
        font-size: 2.5vw;
    }
    .send{
        font-size: 4vw;
    }
}


@media only screen and (max-width: 736px) {
    .contact_input::placeholder{
        font-size: 3vw;
    }
    .send{
        font-size: 4vw;
    }
}