
@media only screen and (max-width: 439px)  {
    .header_main_heading{
        font-size: 40px;
        position: relative;
    }
    .header_secondary_heading{
        font-size: 30px;
        left: 0px;
    }
    .header_logo{
        width: 80px !important;
        max-width: 80px!important;
    }
}
@media only screen and (min-width: 440px) and (max-width: 768px)  {
    .header_main_heading{
        font-size: 55px;
        position: relative;
    }
    .header_secondary_heading{
        font-size: 40px;
        left: 0px;
    }
    .header_logo{
        width: 110px !important;
        max-width: 110px!important;
    }
}
@media only screen and (min-width: 769px) and (max-width: 900px){
    .header_main_heading{
        font-size: 57px;
     
    }
    .header_secondary_heading{
        font-size: 40px;
    }
    .header_logo{
        width: 200px !important;
        max-width: 200px!important;
    }
}
@media only screen and (min-width: 901px) and (max-width: 1050px){
    .header_main_heading{
        font-size: 70px;
     
    }
    .header_secondary_heading{
        font-size: 45px;
    }
    .header_logo{
        width: 200px !important;
        max-width: 200px!important;
    }
}
@media only screen and (min-width: 1050px) and (max-width: 1300px){
    .header_main_heading{
        font-size: 80px;
    }
    .header_secondary_heading{
        font-size: 50px;
    }
    .header_logo{
        width: 250px !important;
        max-width: 250px!important;
    }
}