
@media only screen and (max-width: 768px) {
    .flex_column_res{
        flex-direction: column;
    }
    .primary_headings{
        font-size: 20px;
    }
    .secondary_headings{
        font-size: 20px;
        margin-top: 30px;
    }
    .none{
        display: none;
    }
    .primary_big_headings{
        font-size: 35px;
    }
}