@media screen and (max-width: 450px){
    
    .portfolio_heading{
        font-size: 25px;
        width: 90%;
        margin-left: 10%;
        z-index: 99;
        text-align: right;
    }
    .portfolio_main_container{
        padding-top: 50px;
    }
}
@media screen and (min-width: 451px) and (max-width :679px){
    .card_panel{
        width: 300px;
    }
    .portfolio_heading{
        font-size: 35px;
        width: 90%;
        margin-left: 10%;
        z-index: 99;
        text-align: right;
    }
    .portfolio_main_container{
        padding-top: 50px;
    }
}
@media screen and (min-width: 680px) and (max-width :768px){
    .card_panel{
        width: 300px;
    }
    .portfolio_heading{
        font-size: 32px;
        width: 90%;
        margin-left: 10%;
        z-index: 99;
        text-align: right;
    }
    .portfolio_main_container{
        padding-top: 50px;
    }
}
@media screen and (min-width: 769px) and (max-width :1324px){
    .card_panel{
        width: 300px;
    }
    .portfolio_heading{
        font-size: 40px;
        width: 70%;
        margin-left: 30%;
        z-index: 99;
        text-align: right;
    }
    .portfolio_main_container{
        padding-top: 50px;
    }
}