@media only screen and (max-width: 1700px) {
    .programs_images_container{
        align-items: center;
        justify-content: center;
    }
    .programs_res_con{
        overflow-x: hidden;
        position: relative;
        overflow-y: visible!important;
        height: auto;
    }
}