@media only screen and (max-width: 550.0px) {
    .services_content_container{
      width: 95%;
    }
   #first_dec{
    position: absolute;
    left: 40%
   }
   #second_dec{
    left: -20px;
   }
   #third_dec{
    position: absolute;
    left: 40%;
   }
   .services_cards_headings{
    font-size: 25px;
   }
  }
  @media only screen and (min-width: 551px) and (max-width: 650.9px){
    .services_content_container{
      width: 95%!important;
    }
   #first_dec{
    position: absolute;
    left: 50%
   }
   #second_dec{
    left: -20px;
   }
   #third_dec{
    position: absolute;
    left: 50%;
   }
   .services_cards_headings{
    font-size: 25px;
   }

}
  
@media only screen and (min-width: 651px) and (max-width: 735px){
  .services_content_container{
    width: 95%;
  }
 #first_dec{
  position: absolute;
  left: 55%
 }
 #second_dec{
  left: -30px;
 }
 #third_dec{
  position: absolute;
  left: 55%;
 }
 .services_cards_headings{
  font-size: 25px;
 }
}


@media only screen and (min-width : 736px) and (max-width : 1024px){
  .services_content_container{
    width: 60%;
  }
  .services_cards_headings{
  font-size: 25px;
 }
}