@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.venus{
    left: -20%;
}
.contact_input{
    background-color: transparent;
    border-bottom: 2px solid black;
    height: 50px;
    color: black;
    font-size: 18px;
    margin-top: 40px;
}
.contact_input::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.contact_input_container{
    height: 51px;
    margin-top: 30px;
    width: 100%;
    background-image: linear-gradient(to right,  rgb(28, 48, 70), rgba(10, 19, 29, 0.282));
}
.message{
    height: 150px;
}
.message_container{
    height: 151px;
}
.send{
    color: black;
    margin-top: 80px;
    font-size: 30px; 
    font-family: 'Dela Gothic One';
}

.contact_main_container{
    background-color: rgb(228, 221, 221);
    padding: 50px 0px;
}

#contact_main_heading{
    background-image: linear-gradient(to right, black, #5c7295 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
@import '../responsive/contact_res.module.scss';
