@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.footer_p{
    color: white;
    opacity: 0.7;
    font-size: 16px;
}
.footer_main_container{
    background-image: linear-gradient(black, rgb(20, 22, 39)  );

    padding: 40px 0px 10px 0px;
    margin-top: 200px;
}
.footer_dec_text{
    color: white;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    font-family: 'Dela Gothic One'
}


@import '../responsive/footer_res.module.scss';
