@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
@import './sass/vars/colors.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
/* header styles */
.header_container{
    width: 100%;
    height: fit-content;
    margin: 0px;
}
@keyframes heading{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }to{
        opacity: 1;
        transform: translateX(-0px);

    }
}
@keyframes heading_two{
    from{
        opacity: 0;
        transform: translateX(30px);
    }to{
        opacity: 1;
        transform: translateX(-0px);

    }
}
@keyframes image{
    from{
        opacity: 0;
        transform: translateY(30px);
    }to{
        opacity: 1;
        transform: translateY(-0px);

    }
}
.header_logo{
    animation-name: image;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.header_main_heading{
    font-size: 110px;
    font-family: 'Dela Gothic One';
    color: white;
    margin: 0px;
    line-height: 1;
    animation-name: heading;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    padding: 0px
}
.header_secondary_heading{
    color: $primary-color;
    font-size: 80px;
    margin: 0px;
    line-height: 1;
    padding: 0px;
    position: relative;
    margin-top: 10px;
    left: 50px;
    animation-name: heading_two;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
.header_buttons{
    color: white;
    font-size: 30px;
    padding: 10px 40px ;
    border-radius: 10px;
}
#work_button{
    background-color: #6fa4b0;
    color: black;
    font-weight: bolder
}


.wave_gif{
    z-index: -1;
}


  
@import '../responsive/header_res.module.scss';


