.programs_container {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
 
  .programs_images {
    margin-top: 80px;
    opacity: 0.4;
    transition: 0.2s ease-in-out;
    filter: grayscale(100%);
  }
  .programs_images:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
  
  .tooltip {
    position: relative;
    font-size: 18px;
  
    // Tooltip container style
    &:hover .tooltiptext {
      visibility: visible;
    }
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    // Position the tooltip text on top of the image
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: -10%;
    // transform: translateX(-25%);
    margin-bottom: 10px;
  }
  
  @import "../responsive/programs_res.module.scss";
  