@import "../vars/colors.module.scss";


.services_container{
  background-image: url('../../../public/images/logos/flowdev_logo.ico');
  background-position: center;
  background-size: 800px;
  background-color: rgba(0, 0, 0, 0.925);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}


.services_content_container{
  border-radius: 20px;
  background-image: linear-gradient(to right ,rgb(20, 22, 39), black 60%);
  width: 50%;
  z-index: 80;
  padding: 40px;
  padding-bottom: 80px;
  height: fit-content;
}
.services_cards_headings{
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.services_cards_p{
  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  padding-left: 10px
}

//decs
#first_dec{
  position: relative;
  left: -100px;
  top: 150px;
  opacity: 0;
}
#second_dec{
  position: absolute;
  top: 160px;
  opacity: 0;
  transform: rotate(-1deg)
}
#third_dec{
  position: relative;
  top: 200px;
  opacity: 0;
  left: 20px;
}

.drawLine {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2.5s linear forwards;
  opacity: 0;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    opacity: 1;

  }
}

@import "../responsive/services_res.module.scss";
