@import './sass/vars/colors.module.scss';


.panel{
  display: flex!important;
  flex-direction: column;
  justify-content: center!important;
  align-items: center!important;
  overflow-y: visible!important;
}
.image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.slider_logo_info{
  color: white;
  font-size: 20px
}
  @import "../responsive/slider_res.module.scss";
