@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind *;
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body{
    background-color: black;
    font-family: 'Poiret One';
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
  }


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #080808;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
     border: 2px #8caee5 solid ;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

